.container {
    margin: 2em;
    min-height: 50vh;
}


.actions {
    padding: 10px;
}

.error {
    color: red;
}

.syllable {
    border-right: 1px solid grey;
    padding: 2px;
    font-size: 1.2em;
}
